.columns>div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns>div>div {
  order: 1;
}

.columns>div>.columns-img-col {
  order: 0;
}

.columns>div>.columns-img-col img {
  display: block;
}

div.section.hero-container.columns-container>div.columns-wrapper>div {
  color: #13294b;
  background-color: #4b9cd3;
  left: 4.1666666667%;
  width: 29.1666666667%;
  bottom: 0;
  position: absolute;
  top: 0;
}

main>div:nth-child(2) {
  align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 100px 4.1666666667%;
    max-width: 1600px;
}

main>div:nth-child(2)>div:nth-child(1) {
      margin-right: 4.5454545455%;
        padding: 5px 0 0;
}

main>div:nth-child(2)>div:nth-child(1)>div>div {
  width: 300px;
}



@media (min-width: 900px) {
  .columns>div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns>div>div {
    flex: 1;
    order: unset;
  }
}
