.columns>div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns>div>div {
  order: 1;
}

.columns>div>.columns-img-col {
  order: 0;
}

.columns>div>.columns-img-col img {
  display: block;
}

div.section.hero-container.columns-container>div.columns-wrapper>div {
  color: #13294b;
  background-color: #4b9cd3;
  left: 4.1666666667%;
  width: 29.1666666667%;
  bottom: 0;
  position: absolute;
  top: 0;
}

main>div:nth-child(2) {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 100px 4.1666666667%;
  max-width: 1600px;
}

main>div:nth-child(2)>div:nth-child(1) {
  margin-right: 4.5454545455%;
  padding: 5px 0 0;
}

main>div:nth-child(2)>div:nth-child(1)>div>div {
  width: 300px;
}

main>div:nth-child(2)>div:nth-child(2) {
  margin-left: 4.5454545455%;
  width: 68.1818181818%;
}

main>div:nth-child(2)>div:nth-child(2)>div {
  display: flex;
  flex-direction: column;
}

main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(1),
main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(2) {
  align-items: normal;
  gap: 0;
}

main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(1)>div.columns-img-col,
main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(2)>div.columns-img-col {
  background-color: #151515;
  color: #fff;
  width: 33.3333333333%;
}

main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(1)>div:nth-child(2) {
  background-color: #151515;
  color: #fff;
  width: 33.3333333333%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(1)>div:nth-child(3) {
  background-color: #4b9cd3;
  color: #151515;
  width: 33.3333333333%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(2)>div:nth-child(1) {
  background-color: #fff;
  box-shadow: inset 0 0 1px #797979;
  width: 33.3333333333%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(2)>div:nth-child(2) {
  background-color: #eee;
  color: #151515;
  width: 33.3333333333%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(1) p:nth-child(1) {
  padding: 0 20%;
  margin: 0;
  font-size: 80px;
  line-height: 70px;
  font-family: franklin-gothic-compressed, sans-serif;
  text-align: center;
}

main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(2) p:nth-child(1) {
  padding: 0 20%;
  margin: 0;
  font-size: 80px;
  line-height: 70px;
  font-family: franklin-gothic-compressed, sans-serif;
  text-align: center;
}

main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(1) p:nth-child(2) {
  padding: 0 20%;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  font-family: franklin-gothic-urw, sans-serif;
  text-align: center;
}

main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(2) p:nth-child(2) {
  padding: 0 20%;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  font-family: franklin-gothic-urw, sans-serif;
  text-align: center;
}

main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(2)>div:nth-child(1)>p:nth-child(1) {
  color: #686868;
}

main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(2)>div:nth-child(1)>p:nth-child(2) {
  color: #686868;
}

main>div:nth-child(5)>div.columns-wrapper>div {
  display: flex;
}

main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(1),
main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(3) {
  margin: 0 4.1666666667%;
  width: 16.6666666667%;
  align-items: normal;
  flex-direction: column;
  gap: unset;
}

main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(2) {
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  margin: 0;
  width: 50%;
  align-items: normal;
  flex-direction: column;
  gap: unset;
}

main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(1)>div:nth-child(1),
main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(3)>div:nth-child(1) {
  border-bottom: 1px solid #e1e1e1;
  margin: 0 0 25px;
  padding: 0 0 20px;
  height: fit-content;
  flex: none;
}

main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(1)>div:nth-child(1)>p:nth-child(1),
main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(3)>div:nth-child(1)>p:nth-child(1) {
  margin: 0;
}

main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(1)>div:nth-child(1)>p.button-container,
main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(3)>div:nth-child(1)>p.button-container {
  font-family: franklin-gothic-urw-cond, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  text-transform: uppercase;
}

main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(1)>div:nth-child(1)>p.button-container>a,
main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(1)>div:nth-child(2)>a,
main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(1)>div:nth-child(3)>a,
main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(2)>div:nth-child(2)>p.button-container>a,
main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(3)>div:nth-child(1)>p.button-container>a,
main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(3)>div:nth-child(2)>a,
main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(3)>div:nth-child(3) {
  color: #151515;
  text-decoration: underline;
}

main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(1)>div:nth-child(1)>p.button-container>a:hover,
main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(1)>div:nth-child(2)>a:hover,
main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(1)>div:nth-child(3)>a:hover,
main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(2)>div:nth-child(2)>p.button-container>a:hover,
main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(3)>div:nth-child(1)>p.button-container>a:hover,
main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(3)>div:nth-child(2)>a:hover,
main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(3)>div:nth-child(3):hover {
  text-decoration: none;
}

main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(1)>div:nth-child(1)>p:nth-child(3),
main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(3)>div:nth-child(1)>p:nth-child(3) {
  margin: 12px 0 0;
  word-wrap: break-word;
  font-size: 16px;
  line-height: 26px;
  color: #686868;
  font-family: franklin-gothic-urw, sans-serif;
}

main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(1)>div:nth-child(2) {
  border-bottom: 1px solid #e1e1e1;
  margin: 0 0 25px;
  padding: 0 0 20px;
  font-family: franklin-gothic-urw-cond, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  max-height: 72px;
}

main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(3)>div:nth-child(2) {
  border-bottom: 1px solid #e1e1e1;
  margin: 0 0 25px;
  padding: 0 0 20px;
  font-family: franklin-gothic-urw-cond, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  max-height: 48px;
}

main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(1)>div:nth-child(3) {
  margin: 0 0 25px;
  padding: 0 0 20px;
  font-family: franklin-gothic-urw-cond, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  max-height: 48px;
}

main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(3)>div:nth-child(3) {
  margin: 0 0 25px;
  padding: 0 0 20px;
  font-family: franklin-gothic-urw-cond, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  max-height: 96px;
}

main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(2) {
  display: block;
}

main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(2)>div:nth-child(2)>p:nth-child(1) {
  margin: 0 0 60px;
}

main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(2)>div:nth-child(2)>p.button-container {
  font-family: playfair-display, Georgia, Times New Roman, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-transform: none;
  margin: 0;
  color: #151515;
  text-align: center;
  padding: 0 8.3333333333%;
}

main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(2)>div:nth-child(2)>p:nth-child(3) {
  margin: 30px 0 0;
  word-wrap: break-word;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #686868;
  font-family: franklin-gothic-urw, sans-serif;
  padding: 0 8.3333333333%;
}

@media (min-width: 900px) {
  .columns>div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns>div>div {
    flex: 1;
    order: unset;
  }
}

@media (max-width: 500px) {
  div.section.hero-container.columns-container>div.columns-wrapper>div {
    margin-top: -80px;
    background: linear-gradient(180deg, hsla(0, 0%, 8%, 0) 0, #151515 19%, #151515);
    left: 0;
    padding: 120px 8.3333333333% 40px;
    position: relative;
    width: calc(100% - 80px);
    background-color: #4b9cd3;
    padding-bottom: 20px;
    padding-top: 80px;
    height: 162px;
  }

  main>div.section.hero-container.columns-container>div.columns-wrapper>div>div:nth-child(1) {
    display: none;
  }

  main>div.section.hero-container.columns-container>div.columns-wrapper>div>div:nth-child(2) {
    padding: 0;
  }

  main>div.section.hero-container.columns-container>div.columns-wrapper>div>div:nth-child(2)>div>p:nth-child(2) {
    display: none;
  }

  div.section.hero-container.columns-container>div.columns-wrapper>div>div>div>p.button-container>a {
    color: #fff;
  }

  main>div.section.hero-container.columns-container>div.columns-wrapper>div>div:nth-child(3)>div {
    padding-left: 41.664px;
  }

  main>div.section.hero-container.columns-container>div.columns-wrapper>div>div:nth-child(3)>div>ul>li {
    display: inline-block;
    line-height: 64px;
    margin-right: 4%;
    white-space: nowrap;
  }

  main>div:nth-child(2) {
    margin: 50px 0;
    display: block;
  }

  main>div:nth-child(2)>div:nth-child(1)>div {
    padding: 0 8.3333333333% 24px;
  }

  main>div:nth-child(2)>div:nth-child(1) {
    margin-right: 0;
    padding: 0;
  }

  main>div:nth-child(2)>div:nth-child(1)>div>div {
    width: 100%;
  }

  main>div:nth-child(2)>div:nth-child(2) {
    margin-left: 0;
    width: 100%;
  }

  main>div:nth-child(2)>div:nth-child(2)>div {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(1),
  main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(2) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(1)>div.columns-img-col,
  main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(2)>div.columns-img-col,
  main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(1)>div:nth-child(2),
  main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(2)>div:nth-child(1) {
    width: 50%;
  }

  main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(1) p:nth-child(1),
  main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(2)>div:nth-child(1)>p:nth-child(1),
  main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(2) p:nth-child(1) {
    font-size: 50px;
    line-height: 45px;
    padding: 0;
  }

  main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(1) p:nth-child(2),
  main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(2) p:nth-child(2) {
    font-size: 15px;
    line-height: 20px;
  }

  main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(1)>div:nth-child(3) {
    width: 100%;
    height: 250px;
  }

  main>div:nth-child(2)>div:nth-child(2)>div>div:nth-child(2)>div:nth-child(2) {
    width: 100%;
    height: 250px;
    order: 2;
  }

  main>div:nth-child(5)>div.columns-wrapper>div {
    flex-direction: column;
  }

  main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(1) {
    clear: both;
    float: left;
    margin: 0;
    width: 100%;
    order: 1;
  }

  main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(1)>div:nth-child(1)>p.button-container {
    padding: 0 4.1666666667%;
    margin-top: 20px;
  }

  main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(1)>div:nth-child(1)>p:nth-child(3) {
    padding: 0 4.1666666667%;
    text-align: left;
  }

  main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(1)>div:nth-child(2)>a,
  main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(1)>div:nth-child(3)>a {
    padding: 0 4.1666666667%;
    text-align: left;
  }

  main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(1)>div:nth-child(3) {
    border-bottom: 1px solid #e1e1e1;
  }

  main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(2) {
    clear: both;
    float: left;
    margin: 0;
    order: unset;
    width: 100%;
    border-left: none;
    border-right: none;
    padding: 0 0 30px;
  }

  main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(2)>div:nth-child(2)>p:nth-child(1) {
    margin: 0;
  }

  main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(2)>div:nth-child(2)>p.button-container {
    border: none;
    padding: 0;
    text-align: left;
    margin: 0 4.1666666667%;
    font-family: franklin-gothic-urw-cond, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 20px;
  }

  main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(2)>div:nth-child(2)>p:nth-child(3) {
    text-align: left;
    margin: 12px 0 0;
    padding: 0 4.1666666667%;
  }

  body>main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(3)>div:nth-child(1)>p:nth-child(1) {
    margin: 0;
  }

  main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(3) {
    clear: both;
    float: left;
    margin: 0;
    width: 100%;
    order: 2;
  }

  main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(3)>div:nth-child(1)>p.button-container,
  main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(3)>div:nth-child(1)>p:nth-child(3),
  main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(3)>div:nth-child(2)>a {
    padding: 0 4.1666666667%;
    margin-top: 20px;
  }

  main>div:nth-child(5)>div.columns-wrapper>div>div:nth-child(3)>div:nth-child(3) {
    padding: 0 4.1666666667%;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    margin-bottom: 0;
  }

  .columns>div>.columns-img-col {
    order: 1;
  }
}
